@font-face {
  font-family: cheri1;
  src: url(fonts/CHERI___.TTF);
}
@font-face {
  font-family: cheri2;
  src: url(fonts/CHERL___.TTF);
}
body {
  max-width: 1920px;
  background-color: rgb(41, 35, 35);
}

#box2 {
  font-family: 'Libre Bodoni', serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 400px;
  padding: 70px 0px 0px 0px;
}
#about {
  font-family: 'Libre Bodoni', serif;
  font-size: 25px;
  height: 40px;
  color: rgb(255, 255, 255);
}

#box5 {
  font-family: cheri1;
  font-size: 25px;
  height: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
}
#box6 {
  text-align: center;
  font-family: 'Libre Bodoni', serif;
  color: rgb(255, 255, 255);
  padding-bottom: 40px;
}
#box9 {
  font-family: 'Libre Bodoni', serif;
  font-size: 20px;
  height: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.apresentacao {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: nowrap;
}

#barrinha {
  font-family: 'Libre Bodoni', serif;
}
